<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>Create party rooms with friends!</p>

      <input id="room_id" type="text" placeholder="room id...">
      <button onclick="enterRoom(document.getElementById('room_id').value);">Enter</button><br><br>

      <input type="password" placeholder="admin secret...">
      <button>Enter</button>
    </div>

    <div>
    <p><%= error %></p>
  </div>
  </body>
</html>
